Connected Services/Bangboo_Service/Bangboo_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateBangboo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bangboo" type="tns:VO_Bangboos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_Bangboos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Bangboo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Element" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PictureURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBangbooResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBangbooResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBangboos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_Bangboos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_Bangboos" nillable="true" type="tns:VO_Bangboos" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBangboosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBangboosResult" type="tns:ArrayOfVO_Bangboos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBangboo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bangboo" type="tns:VO_Bangboos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBangbooResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBangbooResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBangboo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBangbooResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBangbooResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBangbooSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBangboo" />
  </wsdl:message>
  <wsdl:message name="CreateBangbooSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBangbooResponse" />
  </wsdl:message>
  <wsdl:message name="GetBangboosSoapIn">
    <wsdl:part name="parameters" element="tns:GetBangboos" />
  </wsdl:message>
  <wsdl:message name="GetBangboosSoapOut">
    <wsdl:part name="parameters" element="tns:GetBangboosResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBangbooSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBangboo" />
  </wsdl:message>
  <wsdl:message name="UpdateBangbooSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBangbooResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBangbooSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBangboo" />
  </wsdl:message>
  <wsdl:message name="DeleteBangbooSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBangbooResponse" />
  </wsdl:message>
  <wsdl:portType name="Bangboo_ServiceSoap">
    <wsdl:operation name="CreateBangboo">
      <wsdl:input message="tns:CreateBangbooSoapIn" />
      <wsdl:output message="tns:CreateBangbooSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBangboos">
      <wsdl:input message="tns:GetBangboosSoapIn" />
      <wsdl:output message="tns:GetBangboosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBangboo">
      <wsdl:input message="tns:UpdateBangbooSoapIn" />
      <wsdl:output message="tns:UpdateBangbooSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBangboo">
      <wsdl:input message="tns:DeleteBangbooSoapIn" />
      <wsdl:output message="tns:DeleteBangbooSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bangboo_ServiceSoap" type="tns:Bangboo_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangboo">
      <soap:operation soapAction="http://tempuri.org/CreateBangboo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangboos">
      <soap:operation soapAction="http://tempuri.org/GetBangboos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBangboo">
      <soap:operation soapAction="http://tempuri.org/UpdateBangboo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBangboo">
      <soap:operation soapAction="http://tempuri.org/DeleteBangboo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Bangboo_ServiceSoap12" type="tns:Bangboo_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangboo">
      <soap12:operation soapAction="http://tempuri.org/CreateBangboo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangboos">
      <soap12:operation soapAction="http://tempuri.org/GetBangboos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBangboo">
      <soap12:operation soapAction="http://tempuri.org/UpdateBangboo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBangboo">
      <soap12:operation soapAction="http://tempuri.org/DeleteBangboo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bangboo_Service">
    <wsdl:port name="Bangboo_ServiceSoap" binding="tns:Bangboo_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/Bangboo_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Bangboo_ServiceSoap12" binding="tns:Bangboo_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/Bangboo_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>