Connected Services/BangbooSupplier_Service/BangbooSupplier_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateBangbooSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="supplier" type="tns:VO_BangbooSuppliers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_BangbooSuppliers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Address_ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBangbooSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBangbooSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBangbooSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_BangbooSuppliers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_BangbooSuppliers" nillable="true" type="tns:VO_BangbooSuppliers" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBangbooSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBangbooSuppliersResult" type="tns:ArrayOfVO_BangbooSuppliers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBangbooSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="supplier" type="tns:VO_BangbooSuppliers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBangbooSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBangbooSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBangbooSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBangbooSupplier" />
  </wsdl:message>
  <wsdl:message name="CreateBangbooSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBangbooSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="GetBangbooSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:GetBangbooSuppliers" />
  </wsdl:message>
  <wsdl:message name="GetBangbooSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:GetBangbooSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBangbooSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBangbooSupplier" />
  </wsdl:message>
  <wsdl:message name="UpdateBangbooSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBangbooSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="DeleteSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="BangbooSupplier_ServiceSoap">
    <wsdl:operation name="CreateBangbooSupplier">
      <wsdl:input message="tns:CreateBangbooSupplierSoapIn" />
      <wsdl:output message="tns:CreateBangbooSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSuppliers">
      <wsdl:input message="tns:GetBangbooSuppliersSoapIn" />
      <wsdl:output message="tns:GetBangbooSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBangbooSupplier">
      <wsdl:input message="tns:UpdateBangbooSupplierSoapIn" />
      <wsdl:output message="tns:UpdateBangbooSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input message="tns:DeleteSupplierSoapIn" />
      <wsdl:output message="tns:DeleteSupplierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BangbooSupplier_ServiceSoap" type="tns:BangbooSupplier_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangbooSupplier">
      <soap:operation soapAction="http://tempuri.org/CreateBangbooSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSuppliers">
      <soap:operation soapAction="http://tempuri.org/GetBangbooSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBangbooSupplier">
      <soap:operation soapAction="http://tempuri.org/UpdateBangbooSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BangbooSupplier_ServiceSoap12" type="tns:BangbooSupplier_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangbooSupplier">
      <soap12:operation soapAction="http://tempuri.org/CreateBangbooSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSuppliers">
      <soap12:operation soapAction="http://tempuri.org/GetBangbooSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBangbooSupplier">
      <soap12:operation soapAction="http://tempuri.org/UpdateBangbooSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap12:operation soapAction="http://tempuri.org/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BangbooSupplier_Service">
    <wsdl:port name="BangbooSupplier_ServiceSoap" binding="tns:BangbooSupplier_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/BangbooSupplier_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BangbooSupplier_ServiceSoap12" binding="tns:BangbooSupplier_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/BangbooSupplier_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>