Connected Services/SalesReceipt_Service/SalesReceipt_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateSalesReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receipt" type="tns:VO_SalesReceipts" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_SalesReceipts">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Sale" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SaleDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employee_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Customer_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSalesReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSalesReceiptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_SalesReceipts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_SalesReceipts" nillable="true" type="tns:VO_SalesReceipts" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSalesReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesReceiptResult" type="tns:ArrayOfVO_SalesReceipts" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSalesReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSalesReceipt" />
  </wsdl:message>
  <wsdl:message name="CreateSalesReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSalesReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesReceipt" />
  </wsdl:message>
  <wsdl:message name="GetSalesReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesReceiptResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesReceipt_ServiceSoap">
    <wsdl:operation name="CreateSalesReceipt">
      <wsdl:input message="tns:CreateSalesReceiptSoapIn" />
      <wsdl:output message="tns:CreateSalesReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesReceipt">
      <wsdl:input message="tns:GetSalesReceiptSoapIn" />
      <wsdl:output message="tns:GetSalesReceiptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesReceipt_ServiceSoap" type="tns:SalesReceipt_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSalesReceipt">
      <soap:operation soapAction="http://tempuri.org/CreateSalesReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReceipt">
      <soap:operation soapAction="http://tempuri.org/GetSalesReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesReceipt_ServiceSoap12" type="tns:SalesReceipt_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSalesReceipt">
      <soap12:operation soapAction="http://tempuri.org/CreateSalesReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesReceipt">
      <soap12:operation soapAction="http://tempuri.org/GetSalesReceipt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesReceipt_Service">
    <wsdl:port name="SalesReceipt_ServiceSoap" binding="tns:SalesReceipt_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/SalesReceipt_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesReceipt_ServiceSoap12" binding="tns:SalesReceipt_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/SalesReceipt_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>