Connected Services/Inventory_Detail_Service/Inventory_Detail_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInventoryDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VO_Inventory_Details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Bangboo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastRestockDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PictureURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_Inventory_Details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_Inventory_Details" nillable="true" type="tns:VO_Inventory_Details" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInventoryDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryDetailsResult" type="tns:ArrayOfVO_Inventory_Details" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInventoryDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryDetails" />
  </wsdl:message>
  <wsdl:message name="GetInventoryDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="Inventory_Detail_ServiceSoap">
    <wsdl:operation name="GetInventoryDetails">
      <wsdl:input message="tns:GetInventoryDetailsSoapIn" />
      <wsdl:output message="tns:GetInventoryDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Inventory_Detail_ServiceSoap" type="tns:Inventory_Detail_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventoryDetails">
      <soap:operation soapAction="http://tempuri.org/GetInventoryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Inventory_Detail_ServiceSoap12" type="tns:Inventory_Detail_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventoryDetails">
      <soap12:operation soapAction="http://tempuri.org/GetInventoryDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inventory_Detail_Service">
    <wsdl:port name="Inventory_Detail_ServiceSoap" binding="tns:Inventory_Detail_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/Inventory_Detail_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Inventory_Detail_ServiceSoap12" binding="tns:Inventory_Detail_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/Inventory_Detail_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>