Connected Services/Address_Service/Address_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:VO_Addresses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_Addresses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Address" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Street_Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_Addresses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_Addresses" nillable="true" type="tns:VO_Addresses" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressesResult" type="tns:ArrayOfVO_Addresses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFullAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KeyValuePairOfInt32String" />
      <s:complexType name="ArrayOfKeyValuePairOfInt32String">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfInt32String" type="tns:KeyValuePairOfInt32String" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFullAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFullAddressesResult" type="tns:ArrayOfKeyValuePairOfInt32String" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:VO_Addresses" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAddressSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAddress" />
  </wsdl:message>
  <wsdl:message name="CreateAddressSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="GetAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFullAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFullAddresses" />
  </wsdl:message>
  <wsdl:message name="GetFullAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFullAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="Address_ServiceSoap">
    <wsdl:operation name="CreateAddress">
      <wsdl:input message="tns:CreateAddressSoapIn" />
      <wsdl:output message="tns:CreateAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <wsdl:input message="tns:GetAddressesSoapIn" />
      <wsdl:output message="tns:GetAddressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFullAddresses">
      <wsdl:input message="tns:GetFullAddressesSoapIn" />
      <wsdl:output message="tns:GetFullAddressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input message="tns:UpdateAddressSoapIn" />
      <wsdl:output message="tns:UpdateAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Address_ServiceSoap" type="tns:Address_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAddress">
      <soap:operation soapAction="http://tempuri.org/CreateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap:operation soapAction="http://tempuri.org/GetAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullAddresses">
      <soap:operation soapAction="http://tempuri.org/GetFullAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Address_ServiceSoap12" type="tns:Address_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAddress">
      <soap12:operation soapAction="http://tempuri.org/CreateAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap12:operation soapAction="http://tempuri.org/GetAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullAddresses">
      <soap12:operation soapAction="http://tempuri.org/GetFullAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap12:operation soapAction="http://tempuri.org/UpdateAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Address_Service">
    <wsdl:port name="Address_ServiceSoap" binding="tns:Address_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/Address_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Address_ServiceSoap12" binding="tns:Address_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/Address_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>