Connected Services/BangbooSupplyDetail_Service/BangbooSupplyDetail_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateBangbooSupplyDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detail" type="tns:VO_BangbooSupplyDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_BangbooSupplyDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Detail" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Bangboo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplyAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplyDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitCost" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBangbooSupplyDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBangbooSupplyDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBangbooSupplyDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVO_BangbooSupplyDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_BangbooSupplyDetails" nillable="true" type="tns:VO_BangbooSupplyDetails" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBangbooSupplyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBangbooSupplyDetailsResult" type="tns:ArrayOfVO_BangbooSupplyDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBangbooSupplyDetailSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBangbooSupplyDetail" />
  </wsdl:message>
  <wsdl:message name="CreateBangbooSupplyDetailSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBangbooSupplyDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetBangbooSupplyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBangbooSupplyDetails" />
  </wsdl:message>
  <wsdl:message name="GetBangbooSupplyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBangbooSupplyDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="BangbooSupplyDetail_ServiceSoap">
    <wsdl:operation name="CreateBangbooSupplyDetail">
      <wsdl:input message="tns:CreateBangbooSupplyDetailSoapIn" />
      <wsdl:output message="tns:CreateBangbooSupplyDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSupplyDetails">
      <wsdl:input message="tns:GetBangbooSupplyDetailsSoapIn" />
      <wsdl:output message="tns:GetBangbooSupplyDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BangbooSupplyDetail_ServiceSoap" type="tns:BangbooSupplyDetail_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangbooSupplyDetail">
      <soap:operation soapAction="http://tempuri.org/CreateBangbooSupplyDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSupplyDetails">
      <soap:operation soapAction="http://tempuri.org/GetBangbooSupplyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BangbooSupplyDetail_ServiceSoap12" type="tns:BangbooSupplyDetail_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBangbooSupplyDetail">
      <soap12:operation soapAction="http://tempuri.org/CreateBangbooSupplyDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBangbooSupplyDetails">
      <soap12:operation soapAction="http://tempuri.org/GetBangbooSupplyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BangbooSupplyDetail_Service">
    <wsdl:port name="BangbooSupplyDetail_ServiceSoap" binding="tns:BangbooSupplyDetail_ServiceSoap">
      <soap:address location="https://localhost:44397/WebServices/Bangboos/BangbooSupplyDetail_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BangbooSupplyDetail_ServiceSoap12" binding="tns:BangbooSupplyDetail_ServiceSoap12">
      <soap12:address location="https://localhost:44397/WebServices/Bangboos/BangbooSupplyDetail_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>